{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Favorites</h1>
    <h2>Movies</h2>
    <div class="row">
        {% if favorite_movies %}
            {% for movie in favorite_movies %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary" style="display: inline;">View Movie</a>
                        <div class="movie-icons" style="display: inline;">
                            {% if movie.id in watched_movies %}
                                <span>👁️</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No favorite movies found.</p>
        {% endif %}
    </div>
    <h2>Tv Shows</h2>
    <div class="row">
        {% if favorite_series %}
            {% for serie in favorite_series %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ serie.image.url }}" class="card-img-top" alt="{{ serie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ serie.title }}</h5>
                        <p class="card-text">{{ serie.description }}</p>
                        <a href="{% url 'series_detail' serie.id %}" class="btn btn-primary" style="display: inline";>View Tv Shows</a>
                    {% if serie.id in watched_series %}
                        <span>👁️</span>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No favorite TV Show found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}